<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>About me</title>
</head>
<body>
  <nav>
    <div class="logo">
      <img src="/images/Logo.png" alt="Logo">
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <main>
    <section class="about">
      <h2>About Me</h2>
      <img src="/images/profile.jpg" alt="Ethan">
      <div class="bio">
        <p>Hello, I'm Nguyen Huu Thinh. I'm an enthusiastic web developer with a normal 
          background in both front-end and back-end technologies. With a concentration 
          for design and a passion for problem-solving, I build intuitive and aesthetically 
          pleasing websites that provide a superior user experience.</p>
        <p>
          When I'm not coding, you can find me learning about new technologies or simply 
          sipping coffee and coming up with creative ideas for my next project. I'm 
          eager to work with you, connect, and realize your digital ideas.
        </p>
      </div>
      <div class="facts">
        <ul>
          Some facts about myself:
          <li>My favorite color is blue</li>
          <li>My major is Game-Programming in Centennial College</li>
          <li>Im from Vietnam</li>
        </ul>
      </div>
      <div>
        <p><a href="/Resume.pdf" target="_blank" class="resume-link">Download my resume (PDF)</a></p>
      </div>
      <p>Feel free to reach out to me if you have anything share.</p>
      <a href="/contact">Contact Me</a>
    </section>
  </main>
  <footer>
    <p>Contact me at ethannguyen0806@gmail.com</p>
  </footer>
</body>
</html>
  