<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home </title>
</head>
<body>
  <header>
    <h1>Welcome to My Portfolio</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="welcome">
      <h2>Welcome to My Portfolio</h2>
      <p>Hello, I'm Huu Thinh. I'm passionate about sports, games and technology.</p>
      <p>Explore more about me here.</p>
      <a href="/about">Learn More</a>
    </section>
  
    <section class="mission">
      <h3>Mission Statement</h3>
      <p>My mission is to make technology to solve bigger issue and make a become easier for everyone.</p>
    </section>
  </main>
  
  <footer>
    <p>Contact me at ethannguyen0806@gmail.com</p>
  </footer>
</body>
</html>
