<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Projects</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <main>
      <section class="projects">
        <h2>Projects</h2>
        <div class="project">
          <img src="/images/project1.png" alt="Project 1">
          <h3>My first ever web designed</h3>
          <p>Description: This project is infomation about myself.</p>
        </div>
        <div class="project">
          <img src="/images/project2.png" alt="Project 2">
          <h3>My first functional website</h3>
          <p>Description: This project is about ranking image from the bucket using javascript.</p>
        </div>
        <div class="project">
          <img src="/images/project3.png" alt="Project 3">
          <h3>Project 3</h3>
          <p>Description: This project is advertising a real estimate professional.</p>
        </div>
      </section>
  </main>
  <footer>
    <p>Contact me at ethannguyen0806@gmail.com</p>
  </footer>
</body>
</html>
  